<div *ngIf="weatherData" class="w-full flex flex-col justify-center items-center h-[100vh]">
    <img src="../assets/Night Hill Animated.gif" class="object-cover w-full h-full absolute" *ngIf="weatherData.current.is_day === 0">
    <img src="../assets/day.jpg" class="object-cover w-full h-full absolute" *ngIf="weatherData.current.is_day === 1">
    <div class="w-[20%] flex mx-auto z-10 absolute top-0 mt-10">
        <form class="w-full flex items-center justify-center" (submit)="onSubmit()">
            <input type="text" placeholder="Search city..." class="w-full p-2 rounded-full pl-4 placeholder:text-white border-2" name="city"
            [(ngModel)]="cityName"
            [ngClass]="{ 'bg-violet border-red-600 focus:border-red-900 focus:outline-none': weatherData.current.is_day === 1, 'bg-lavender border-purple-600 focus:border-purple-900 focus:outline-none': weatherData.current.is_day === 0 }" >         
        </form>
    </div>
    <div class="min-w-[30%] h-fit rounded-lg shadow-custom card z-10">
        <div class="overflow-hidden relative rounded-t-lg w-full h-full">
            <img src="../assets/cold.gif" class="object-cover w-full h-full absolute" *ngIf="weatherData.current.temp_c <= 15">
            <img src="../assets/hot.jpg" class="object-cover w-full h-full absolute" *ngIf="weatherData.current.temp_c > 15">
            <div class="z-10 relative text-center flex flex-col justify-center h-full w-full bg-black/30 text-white">
                <div class="text-xl font-semibold">
                    {{weatherData.location.name}}
                </div>
                <div class="font-extrabold text-5xl">
                    {{weatherData.current.temp_c}}°C
                </div>
            </div>
        </div>
        <div class="flex flex-col rounded-b-lg h-full" [ngClass]="{ 'light': weatherData.current.temp_c > 15, 'dark': weatherData.current.temp_c <= 15 }">
            <div class="py-2 ml-4" [ngClass]="{ ' ': weatherData.current.temp_c > 15, 'text-white': weatherData.current.temp_c <= 15 }">
                More Information: {{weatherData.current.condition.text}}
            </div>
            <div class="grid grid-cols-2 justify-between py-6 gap-4 items-center mx-4 mb-4 rounded-lg h-full" [ngClass]="{ 'bg-day': weatherData.current.temp_c > 15, 'bg-night text-white': weatherData.current.temp_c <= 15 }">
                <div class="flex flex-col justify-between items-center w-full custom-min:px-16 px-5 gap-8">
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/realtemp.png" class="object-cover">
                            </div>
                            <span class="text-sm">feel</span>
                        </div>
                        <div class="flex items-center font-semibold">{{weatherData.current.feelslike_c}}°C</div>
                    </div>
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/clouds.png" class="object-cover">
                            </div>
                            <span class="text-sm">cloudy</span>
                        </div>
                        <div class="flex items-center font-semibold">{{weatherData.current.cloud}}%</div>
                    </div>
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/humidity.png" class="object-cover">
                            </div>
                            <span class="text-sm">humidity</span>
                        </div>
                        <div class="flex items-center font-semibold">{{weatherData.current.humidity}}%</div>
                    </div>
                </div>
                <div class="flex flex-col justify-between items-center w-full custom-min:px-16 px-5 gap-8">
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/uv.png" class="object-cover">
                            </div>
                            <span class="text-sm">UV</span>
                        </div>
                        <div class="flex items-center font-semibold">
                            {{weatherData.current.uv}} &nbsp; (
                            <p *ngIf="weatherData.current.uv <= 2">Low</p>
                            <p *ngIf="weatherData.current.uv > 2 && weatherData.current.uv <= 5">Medium</p>
                            <p *ngIf="weatherData.current.uv > 5 && weatherData.current.uv <= 7">High</p>
                            <p *ngIf="weatherData.current.uv > 7 && weatherData.current.uv <= 10">Very High</p>
                            <p *ngIf="weatherData.current.uv > 10">Extreme</p>)
                        </div>
                    </div>
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/raining.png" class="object-cover">
                            </div>
                            <span class="text-sm">recipitation</span>
                        </div>
                        <div class="flex items-center font-semibold">{{weatherData.current.precip_mm}}mm</div>
                    </div>
                    <div class="flex gap-4 h-full">
                        <div class="flex flex-col items-center">
                            <div class="relative overflow-hidden">
                                <img src="../assets/wind.png" class="object-cover">
                            </div>
                            <span class="text-sm">wind</span>
                        </div>
                        <div class="flex items-center font-semibold">{{weatherData.current.wind_kph}}km/h</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet/>